version: "3.8"

services:
  postgres:
    container_name: iot-db
    image: postgres:latest
    restart: always
    environment:
      POSTGRES_USER: appuser
      POSTGRES_PASSWORD: strong_db_password
      POSTGRES_DB: iotdb
    command: ["postgres", "-c", "log_statement=all"]
    ports:
      - "55432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
    networks:
      - backend

  mosquitto:
    container_name: broker
    image: eclipse-mosquitto:latest
    restart: always
    volumes:
      - ./mosquitto.conf:/mosquitto/config/mosquitto.conf
      - mqdata:/mosquitto/data
      - mqlog:/mosquitto/log
    ports:
      - "1883:1883"
    networks:
      - backend

volumes:
  pgdata:
  mqdata:
  mqlog:

networks:
  backend:
